* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#Logo {
    width: 40px;
    height: 40px;
}

#Image1 {
    width: 200px;

    border: black;
    border-style: solid;
}

#contact-button {
    color: white;
    background-color: #3882f6;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px;
}

#contact-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

#title{
    margin-bottom: 20px;
}

#info-header-text {
    font-size: 26px;
    font-weight: bolder;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    height: 50px;
}

.left-link {
    margin-left: 30px;
}

.right-links {
    margin-right: 30px;
    display: flex;
    width: 250px;
    justify-content: space-around;

}

.right-links a {
    text-decoration: none;
    color: #e2fff1;
}

.right-links a:visited {
    color: #e2fff1;
}

.content-1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #1F2937;
    color: white;
    height: max-content;
    margin-bottom: 50px;
}

.resources {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    border: black;
    border-style: solid;
    margin: 20px;

}

#box1, #box2, #box3, #box4 {
    width: 200px;
    height: 100%;
    display: flex;
}
a {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.content-3 {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 350px;
    background-color: #E5E7EB;
    margin-top: 50px;
}

#quote {
    font-size: 36px;
    font-style: italic;
}
#author {
    margin-left: 450px;
}
.content-4 {
    height: 350px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blue-box{
    background-color: #3882f6;
    height: 100px;
    width: 1200px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#bottom-text {
    display: flex;
    flex-direction: column;
}
#call-to-action {
    color: white;
    background-color: #3882f6;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px;
}

#call-to-action:hover {
    cursor: pointer;
}
.footer {
    background-color: #1F2937;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

